[Unit]           
Description=video
After=lightdm.service systemd-logind.service
 
[Service]       
Type=idle
ExecStart=/bin/bash /home/pi/start.sh
 
[Install]       
WantedBy=multi-user.target
